Thumbs.db
*.obj
*.res
*.exe
*.pdb
*.idb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.opensdf
*.sdf
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.ncruchsolution
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/