Thumbs.db
*.obj
*.res
*.exe
*.pdb
*.idb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.opensdf
*.sdf
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.ncrunchsolution
*.lib
*.sbr
[Bb]in/
[Dd]ebug*/
[Oo]bj/
[Ll]ib/
ipch/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/